    *{
        background-color: #000;
        margin: 0;
        font-family: 'Lobster Two', cursive;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container .card{
    position: relative;
    }

    .container .card .face{
    width: 160vh;
    height: 90vh;
    transition:.4s;
    border-radius: 1%;
    }

    .container .card .face.face1{
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    }

    .container .card:hover .face.face1{

    box-shadow:
        inset 0 0 10px whitesmoke,
        inset 10px 0 10px rgb(24, 223, 90),
        inset -10px 0 20px #0ff,
        inset 10px 0 10px rgb(24, 223, 90),
        inset 10px 0 50px rgb(197, 221, 253),
        0 0 50px #fff,
        -10px 0 80px rgb(24, 223, 90),
        10px 0 80px rgb(77, 6, 241);
    }


    .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
    }

    .container .card:hover .face.face1 .content{
    opacity: 1;
    }


    .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
    }

    .container .card .face.face1 .content span{
    font-size: 8em;
    color: #fff;
    text-align: center;
    }

    .container .card:hover .face.face1 .content span{
    font-size: 8em;
    color: #000;
    text-align: center;
    }

    .container .card:hover .face.face1 .content .btn{
    visibility: visible;
    }

    .container .card .face.face1 .content a{
    transition: .5s;
    }

    /*ボタン*/
    .btn {
    visibility: hidden;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    background: #000;
    }

    .btn a {
    position: relative;
    margin: 0 15px;
    padding: 10px 30px;
    color: #0ff008;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }

    .btn a:hover {
    background: #0ff008;
    color: #000;
    box-shadow: 0 0 50px #55f704;
    transition-delay: 0.5s;
    }

    /* ボタン左上のカッコ */
    .btn a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #0ff008;
    border-left: 2px solid #0ff008;
    content: "";
    transition: 0.5s;
    }

    /* ボタン右下のカッコ */
    .btn a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #0ff008;
    border-bottom: 2px solid #0ff008;
    content: "";
    transition: 0.5s;
    }

    /* ボタン左上のカッコがホバーで伸びる */
    .btn a:hover::before {
    width: 100%;
    height: 100%;
    }

    /* ボタン右下のカッコがホバーで伸びる */
    .btn a:hover::after {
    width: 100%;
    height: 100%;
    }

    /*ネオン*/
    .container .card:hover .face.face1 .content .neon {
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow:0 0 10px rgba(255, 255, 255, 1);
    color: transparent;
    -webkit-text-stroke: 1.5px #0f0;
    text-shadow: 0 0 50px rgba(0,255,0,.5);
    }

    /*背景*/
    .growing{
        position: relative;
        min-width: 10px;
        margin: -10px;
        transform-origin: right;
        background:rgb(197, 221, 253);
        animation: colorChange 5s linear infinite;
    }

    @keyframes colorChange{
        0%{
            filter: hue-rotate(0deg);
            transform: rotate(0deg);
        }

        100%{
            filter: hue-rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .growing:nth-child(even){
        transform-origin: left;
    }

    .growing span{
        position: absolute;
        top: calc(80px * var(--i));
        left: calc(80px * var(--i));
        bottom: calc(80px * var(--i));
        right: calc(80px * var(--i));
    }

    .growing span:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -8px;
        width: 15px;
        height: 15px;
        background: #f00;
        border-radius: 50%;
    }

    .growing span:nth-child(3n + 1):before{
        background: rgba(134, 255, 0, 1);
        box-shadow: 0 0 20px rgba(134, 255, 0, 1),
                    0 0 40px rgba(134, 255, 0, 1),
                    0 0 60px rgba(134, 255, 0, 1),
                    0 0 80px rgba(134, 255, 0, 1),
                    0 0 8px rgba(134, 255, 0, 1);
    }

    .growing span:nth-child(3n + 2):before{
        background: rgba(255, 214, 0, 1);
        box-shadow: 0 0 20px rgba(255, 214, 0, 1),
                    0 0 40px rgba(255, 214, 0, 1),
                    0 0 60px rgba(255, 214, 0, 1),
                    0 0 80px rgba(255, 214, 0, 1),
                    0 0 8px rgba(255, 214, 0, 1);
    }

    .growing span:nth-child(3n + 3):before{
        background: rgba(0, 226, 255, 1);
        box-shadow: 0 0 20px rgba(0, 226, 255, 1),
                    0 0 40px rgba(0, 226, 255, 1),
                    0 0 60px rgba(0, 226, 255, 1),
                    0 0 80px rgba(0, 226, 255, 1),
                    0 0 8px rgba(0, 226, 255, 1);
    }

    .growing span:nth-child(3n + 1){
        animation: animate 10s alternate infinite;
    }

    .growing span:nth-child(3n + 2){
        animation: animate-reverse 3s alternate infinite;
    }

    .growing span:nth-child(3n + 3){
        animation: animate 8s alternate infinite;
    }

    @keyframes animate{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }

    @keyframes animate-reverse{
        0%{
            transform: rotate(360deg);
        }

        100%{
            transform: rotate(0deg);
        }
    }